@import url('demo.css');
@import url('font-awesome.css');

/* MON CSS */

#welcome {
    text-align: center;
}

.form-create {
    padding-top: 60px;
    background-color: dimgrey;
    padding-bottom: 40px;
    border-bottom: 2px solid white;
}

.cahier {
    width: 550px;
}
.color {
    background-color: dimgrey;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.form-save {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 60px;
}

.titre {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 60px;
}

.menu {
    position: fixed;
    background-color: white;
    padding: 0px;
    margin-top: 0px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.menu li {
    display: inline-block;
    padding-right: auto;
    padding-left: auto;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 15px;
}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width .3s;
}

.cool-link.focus::after {
    width: 100%;
}

.cool-link:hover::after {
    width: 100%;
//transition: width .3s;
}

a {
    color: black;
}

.section {
    padding-top: 80px;
    padding-bottom: auto;
}

#formulaire {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 100px;
}

input {
    font-size: 30px;
}

input.border-input {
    background-color: transparent;
    border-bottom: 2px solid white;
    border-left: none;
    border-top: none;
    border-right: none;
    color: white;
    width: 600px;
}

input[type="text"]::-webkit-input-placeholder {
    color: white;
}

textarea::-webkit-input-placeholder {
    color: white;
}

input[type="file"] {
    font-size: 15px;
}

.name-entreprise {
    margin-top: 50px;
}

.button-add {
    border-radius: 5px;
    background-color: #dddddd;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.button-ajout {
    border-radius: 5px;
    background-color: dimgrey;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.button-ajout:hover {
    background-color: white;
    color: dimgrey;
}

textarea {
    border: 2px solid white;
    border-radius: 5px;
    background-color: #dddddd;
    color: white;
    font-size: 30px;
    width: 60%;
    height: 200px;
}

.button-add:hover {
    background-color: white;
    color: #dddddd;
}
.delete{
    max-height: 2em;
}